hr {
  color: black;
  opacity: 0.5;
  width: 95%;
}

.comment-form {
  width: 100%;
  padding: 10px 0px;
  .comment-input {
    height: 100%;
    border: none;
    width: 80%;
  }
  .btn {
    width: 8%;
    border: none;
  }
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment {
  margin-left: 5px;
  line-height: 1.6;
  text-align: left;
}
