nav {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  height: 77px;
}
.Nav-menus {
  display: flex;
  flex-direction: row;
  height: 77px;
  width: 70%;
  margin: 0 auto;
  padding: 26px 40px;
}
.Nav-brand-logo {
  display: block;
  background-position: -176px 0px;
  background-image: url(../../sprite.png);
  background-size: 405px 379px;
  background-repeat: no-repeat;
  height: 35px;
  width: 176px;
  text-indent: -1000%;
}
.input {
  display: flex;
  height: 30px;
  width: 180px;
  justify-self: center;
  margin: auto;
  margin-bottom: 100px;
}
.logout-btn {
  align-content: center;
  height: 30px;
  width: 80px;
  justify-self: flex-end;
  margin: auto;
  margin-bottom: 100px;
  text-align: center;
  padding: 10px 15px;
  background-color: rgb(70, 153, 179);
  color: white;
  border: 1px solid rgb(70, 153, 179);
  background-color: 250ms;
}
